<%- include('./components/adminheader'); %>
        <!-- End Topbar -->
        <!-- Start Breadcrumbbar -->
        <div class="breadcrumbbar">
          <div class="row align-items-center">
            <div class="col-md-8 col-lg-8">
              <!-- <h4 class="page-title">CRM</h4> -->
              <div class="breadcrumb-list">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="dashboard">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Dashboard
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <!-- End Breadcrumbbar -->
        <!-- Start Contentbar -->
        <div class="contentbar">
          <!-- Start row -->
          
          <!-- End row -->
        

            <!-- End Line Chart -->
        
          </div>
        </div>
        <!-- End Contentbar -->
        <!-- Start Footerbar -->
        <div class="footerbar">
          <footer class="footer">
            <p class="mb-0">© 2020 Login Auth System - All Rights Reserved.</p>
          </footer>
        </div>
        <!-- End Footerbar -->
      </div>
      <!-- End Rightbar -->
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
    
  <script src="/js/axios.min.js" type="module" ></script>
  <script src="/js/userlogin.js" type="module"></script>
    <script
    src="assets/js/socket.io.js" type="text/javascript"
  ></script>
  ></script>
  </script>
    <script src="assets/js/jquery.min.js"></script>    
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/modernizr.min.js"></script>
    <script src="assets/js/detect.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/vertical-menu.js"></script>
    <!-- Switchery js -->
    <script src="assets/plugins/switchery/switchery.min.js"></script>
    <!-- Apex js -->
    <script src="assets/plugins/apexcharts/apexcharts.min.js"></script>
    <!-- Slick js -->
    <script src="assets/plugins/slick/slick.min.js"></script>
    <!-- Custom Dashboard js -->
    <script src="assets/js/custom/custom-dashboard.js"></script>
    <!-- Core js -->
    <script src="assets/js/core.js"></script>
    
    <!-- Pnotify js -->
    <script src="assets/plugins/pnotify/js/pnotify.custom.min.js"></script>
    <script src="assets/js/custom/custom-pnotify.js"></script>>
    <!-- End js -->
  </body>
</html>